name: Publish Release

on:
  push:
    branches:
      - master

jobs:
  test:
    uses: ./.github/workflows/test.yml
  publish:
    name: Build project and deploy
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v6
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 8
        cache: maven
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE
    - name: Extract project version
      id: project
      run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_OUTPUT
    - name: Build with Maven
      run: mvn -B package
    - name: Publish to Maven central
      run: mvn -B deploy -P release -DskipTests=true -s .github/settings.xml -Dserver.username=${{ secrets.CENTRAL_TOKEN_USERNAME }} -Dserver.password=${{ secrets.CENTRAL_TOKEN_PASSWORD }} -X
      env:
        MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

    - name: Create Release Tag
      if: ${{ !endsWith(steps.project.outputs.version, '-SNAPSHOT') }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release create ${{ steps.project.outputs.version }} \
          --title "${{ steps.project.outputs.version }}" \
          --notes "Release ${{ steps.project.outputs.version }}"
